In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
labels = ['run', 'jump', 'idle']

In [3]:
acc = pd.DataFrame(columns=['x', 'y', 'z', 't'])

for filename in os.listdir(os.getcwd()):
    if filename.endswith(".txt"):
        for _, label in enumerate(labels):
            if label in filename:
                data = pd.read_csv(filename, names=['x', 'y', 'z'])
                print(label, len(data))
                data = data.diff()
                data.dropna(inplace=True)
                data['t'] = label
                acc = acc.append(data, ignore_index=True)

idle 1799
idle 1800
idle 1799
idle 1005
idle 2290
jump 476
jump 1205
jump 1833
jump 1775
jump 2262
jump 500
jump 771
run 308
run 273
run 1171
run 786
run 2259
run 4386

In [4]:
acc

            x        y       z     t
0         0.0    192.0     0.0  idle
1         0.0    -64.0     0.0  idle
2        64.0     64.0     0.0  idle
3         0.0      0.0     0.0  idle
4         0.0   -192.0   -64.0  idle
...       ...      ...     ...   ...
26675   960.0 -10944.0 -3904.0   run
26676  3456.0   5952.0   512.0   run
26677  2880.0   6656.0   832.0   run
26678   960.0 -12160.0  -704.0   run
26679 -3456.0   -192.0  1920.0   run

[26680 rows x 4 columns]

In [5]:
acc.to_csv('all.csv', index=False)